* {
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
}

:root {
  --orange: #fb923c;
  --Gray: gray;
  --black: black;
  --white: white;
  --margin: 0 auto;
}

ul,
li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  display: flex;
  width: 109.267px;
  height: 44px;
  padding: 5.867px;
  justify-content: center;
  align-items: center;
  gap: 5.867px;
  border-radius: 23.467px;
  background: var(--orange, #fb923c);
  color: var(--white, white);
  border: none;
  cursor: pointer;
}

.container {
  margin: var(--margin);
  width: 1466px;
  padding: 0, 55px, 54px, 55px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

header {
  width: 1356px;
  height: 100px;
  margin: var(--margin);
}

.header__top {
  width: 1146px;
  margin: var(--margin);
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  border-bottom: 2px solid gray;
  padding-bottom: 12px;
}

.top__left {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.top__right {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}

.header__bottom {
  width: 1146px;
  margin: var(--margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.section__infoAndBrands {
  padding-top: 57px;
  width: 1260px;
  margin: var(--margin);
  display: flex;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  align-items: baseline;
  gap: 41px;
}

.autorize {
  display: flex;
  align-items: center;
  gap: 23px;
}

.section__info {
  width: 545px;
  height: 371px;
  margin-right: 57px;
}

.info__title {
  font-size: 64px;
  padding-bottom: 16px;
  font-weight: 700;
  line-height: 120%;
}

.info__text {
  width: 430px;
  color: var(--Gray-200, #999);
  font-family: Inter;
  font-size: 18.49px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.817px;
  padding-bottom: 16px;
}

.info__btn {
  width: 155px;
  height: 46.225px;
  border-radius: 24.653px;
  border: 1.2px solid var(--Gray, #333);
  background-color: inherit;
  color: var(--black, black);
  display: inline-block;
}

.info__wrapper-flex {
  display: flex;
  align-items: center;
  gap: 23px;
  margin-bottom: 39px;
}

.info__btn-play {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--Gray, gray);
  border-radius: 100%;
  box-shadow: 0 0 3px 3px #eee7e7;
}

.info__btn-play svg {
  position: relative;
  top: 24%;
  left: 28%;
}

.info__btn-text {
  width: 100px;
}

.section__images {
  float: left;
  margin-top: 12px;
  width: 647px;
  height: 435px;
}

.section__advantages {
  display: flex;
  width: 1000px;
  justify-content: space-around;
  align-items: center;
  padding: 24.653px;
  border-radius: 73.96px;
  background: var(--white, #fff);
  box-shadow: 0px 18.48998px 38.5208px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(1.5408319234848022px);
  z-index: 3;
  position: relative;
  top: -70px;
  left: -30px;
}

.advantages__cart p {
  display: inline-block;
}

.advantages__cart {
  width: 147px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  margin-left: 45px;
  font-size: 13.867px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.cart__info {
  width: 100%;
}

.advantages__button {
  width: 123.267px;
  height: 46.225px;
  padding: 6.163px;
  border: 1px solid var(--gray, #000);
  background-color: var(--white, white);
  color: var(--black, black);
  font-size: 13.867px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section__brands {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 62px;
  font-size: 27.735px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.4;
  margin-bottom: 150px;
}

.category {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 60px;
}

.category__cards {
  width: 400px;
  height: 180px;
  border-radius: 20px;
  background: rgba(237, 237, 237, 0.49);
  background-position: right;
  background-size: 205px;
  background-repeat: no-repeat;
}

.table1 {
  background-image: url(../picture/table1.png);
}

.table2 {
  background-image: url(../picture/table2.png);
}

.table3 {
  background-image: url(../picture/table3.png);
}

.category__title {
  margin: 48px 210px 12px 26px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.category__cards button {
  margin: 0 229px 48px 62px;
  color: var(--black, black);
  background-color: var(--white, white);
}

.product {
  width: 1248px;
  margin: var(--margin, 0 auto);
}

.product__heading {
  width: 1248px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 64px;
}

.left__heading__button {
  display: flex;
  width: 206px;
  height: 45px;
  padding: 4px 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  color: #f73308;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.36px;
  background-color: #f5f5f5;
  border-radius: 16px;
}

.left__heading__text {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.3px;
}

.right__heading {
  display: flex;
  align-items: center;
  gap: 32px;
}

.right__heading__button {
  border: 1px solid black;
  color: var(--black, black);
  background-color: var(--white, white);
  width: 109px;
  padding: 11.038px 16.557px;
}

.right__heading__text {
  opacity: 0.4;
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-bottom: 60px;
}

.product__card {
  width: 294px;
  height: 311px;
  margin-bottom: 108px;
}

.product__card h4 {
  padding: 12px 18px 2px 18px;
}

.price {
  display: flex;
  padding: 12px 18px 2px 18px;
  gap: 15px;
}

.price s {
  opacity: 0.4;
}

.price span {
  font-weight: 600;
}

.price svg {
  margin-left: 90px;
  background-color: var(#b7bcb7);
}

.about {
  width: 1260px;
  margin: var(--margin, 0 auto);
  display: flex;
  justify-content: space-between;
  margin-bottom: 160px;
}

.left__about {
  width: 479px;
}

.left__title {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.3px;
}

.left__text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  padding: 24px 0;
}

.flex {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.left__about_btn {
  background-color: var(--black, black);
  margin-top: 24px;
  width: 152px;
  height: 50.024px;
}

.right__about {
  position: relative;
}

.about__right_autor {
  width: 318px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: var(--white, white);
  top: 70px;
  left: -100px;
  border-radius: 10px;
  padding: 15px 10px 0 10px;
}

.about__right_autor pre {
  width: 180px;
}

.about__right_autor img {
  width: 50px;
}

.right__img {
  width: 477.206px;
  height: 557.471px;
}

.svg_absolute {
  position: absolute;
  top: 300px;
  left: -65px;
}

.bottom__container {
  width: 306.836px;
  height: 69.089px;
  background-color: var(--white, white);
  border-radius: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 0;
  right: -54px;
  padding: 0 0 0 20px;
  font-size: 18.288px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.549px;
}

.table4 {
  background-image: url(../picture/botoomsect6.png);
}

.table5 {
  background-image: url(../picture/botoomsect5.png);
}

.table6 {
  background-image: url(../picture/botoomsect3.png);
}

.rectangle {
  background-color: var(--black, black);
  color: var(--white, white);
  display: flex;
  padding: 60px 129px 50px 129px;
}

.rectangle__title {
  width: 70%;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 30px;
}

.rectangle__text {
  width: 640px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 73px;
}

.rectangle .flex {
  gap: 80px;
}

.rating1,
.rating2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rating1 p span,
.rating2 p span {
  font-weight: 800;
  font-size: 20px;
}

.quality {
  font-weight: 800;
}

.right__rectangle {
  display: flex;
  flex-direction: column;
  gap: 35px;
  position: relative;
}

.advantages__title {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.advantages__text {
  margin-top: 10px;
  width: 420px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.advantages1 {
  position: relative;
}

.logo-1 {
  position: absolute;
  width: 70px;
  height: 40px;
  top: 0;
  left: -85px;
  background-image: url(../picture/activity1.svg);
  background-size: cover;
}

.logo-2 {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 168px;
  left: -80px;
  background-image: url(../picture/dug.svg);
  background-size: cover;
}

.logo-3 {
  position: absolute;
  width: 70px;
  height: 50px;
  bottom: 80px;
  left: -90px;
  background-image: url(../picture/command.svg);
  background-size: cover;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1260px;
  margin: var(--margin, 0 auto);
}

.gallery__btn {
  width: 240px;
  color: var(--orange, orange);
  margin-bottom: 15px;
  background: #f5f5f5;
  height: 45px;
  padding: 4px 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 15px;
}

.gallery__title {
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 121.739% */
  letter-spacing: -1.38px;
  margin-bottom: 15px;
}

.gallery__text {
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
  margin-bottom: 64px;
}

.grid__top {
  display: grid;
  grid-template-columns: 330px 330px 550px;
  gap: 24px;
  margin-bottom: 24px;
}

.grid__bottom {
  display: grid;
  grid-template-columns: 558px 342px 314px;
  gap: 24px;
  margin-bottom: 60px;
}

.testimonial__about {
  display: flex;
  gap: 24px;
  margin-bottom: 66px;
}

.otzivi {
  width: 624px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 28px;
}

.otzivi__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.36px;
}

.autors img {
  width: 50px;
  border-radius: 30px;
}

.autors {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.our__img {
  width: 100%;
  height: 502px;
  background-image: url(../picture/BGform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  color: #f6f6f6;
}

.our__title {
  font-size: 46px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px; /* 121.739% */
  letter-spacing: -1.38px;
  margin-right: 143px;
  width: 300px;
  margin-bottom: 16px;
}

.our__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
  width: 350px;
  margin-right: 92px;
}

.our__form {
  background-color: var(--black);
  color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  padding: 128px 153px 60px 154px;
}

.form__text {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 123.529% */
  letter-spacing: -1.02px;
  width: 426px;
}

.form__input {
  display: flex;
  width: 667px;
  height: 82px;
  padding: 14px 14px 14px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 240px;
  font-size: 20px;
}

.position__btn-form {
  position: relative;
}

.submit {
  position: absolute;
  top: 14px;
  right: 14px;
  color: #fff;
  background-color: var(--orange);
  padding: 12px 28px;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.footer {
  display: grid;
  grid-template-columns: 219px 98px 160px 75px 85px;
  justify-content: center;
  gap: 150px;
  padding: 80px 96px;
  height: 312px;
  border-bottom: 1px solid black;
  padding-bottom: 50px;
}

.footer__logo {
  font-size: xx-large;
  font-weight: 900;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em pink;
}

.category__footer {
  margin-bottom: 40px;
}

.footer__text {
  margin-top: 28px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 144.444% */
  letter-spacing: -0.36px;
}

.title_li {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
}

ul li {
  margin-bottom: 16px;
}

.footer_ps {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-left: 90px;
}
